<nav
    class="navbar navbar-expand-xl navbar-dark"
    style="background-color: #2d3238"
>
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img
                class="rounded-circle"
                src="images/Dunhammer128.jpg"
                alt=""
                width="40"
            />
            Dunhammer
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mg-xl-0">

                <li class="nav-item mx-2 py-1">
                    <a href="/help" class="nav-link"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-question-square-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"
                            />
                        </svg>
                        Help</a
                    >
                </li>
                <li class="nav-item mx-2 py-1">
                    <a
                        href="https://discord.gg/8qy2wbQZC9"
                        class="nav-link"
                        target="_blank"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-discord"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"
                            />
                            <path
                                d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"
                            />
                        </svg>
                        Support server</a
                    >
                </li>
                <li class="nav-item mx-2 py-1">
                    <a
                        href="https://discord.com/oauth2/authorize?client_id=671681661296967680&permissions=1812327488&scope=bot%20applications.commands"
                        class="nav-link"
                        target="popup"
                        onclick="window.open('https://discord.com/oauth2/authorize?client_id=671681661296967680&permissions=1812327488&scope=bot%20applications.commands', 'popup', 'width=470,height=700'); return false;"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-plus-circle-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                            />
                        </svg>
                        Invite Dunhammer</a
                    >
                </li>
                <li class="nav-item mx-2 py-1">
                    <a
                        href="https://trello.com/b/expgfSZa/dunhammer-roadmap"
                        class="nav-link"
                        target="_blank"
                        ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-map-fill"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z"
                        />
                        </svg>
                        Roadmap</a
                    >
                </li>
                <% if (user) { %>
                    <li class="nav-item dropdown mx-2 py-1 d-xl-none">
                        <%- include('../partials/loggedIn', { user, menu: true }); %>
                    </li>
                <% } %>        
                <li class="nav-item mx-2 py-3">
                </li>
                <li class="nav-item mx-2 py-3">
                    <a
                        href="https://www.paypal.me/dunhammer"
                        class="btn btn-success d-xl-none"
                        role="button"
                        >Dunhammer+</a
                    >
                </li>
                <li class="nav-item mx-2 py-3">
                    <a
                        href="https://www.paypal.me/dunhammer"
                        class="btn btn-warning d-xl-none"
                        role="button"
                        >Donate</a
                    >
                </li>
            </ul>
        </div>
        <a
            href="https://www.paypal.me/dunhammer"
            class="btn btn-success d-none d-xl-block me-3"
            role="button"
            >Dunhammer+</a
        >
        <a
            href="https://www.paypal.me/dunhammer"
            class="btn btn-warning d-none d-xl-block me-5"
            role="button"
            >Donate</a
        >
        <% if (user) { %>
            <ul class="d-flex navbar-nav ms-auto mb-2 mb-xl-0 mx-3">
                <li class="nav-item dropdown mx-2 d-none d-xl-block">
                    <%- include('../partials/loggedIn', { user, menu: false }); %>
                </li>
            </ul>
                <% } else { %>
            <ul class="d-flex navbar-nav ms-auto mb-2 mb-xl-0 mx-3">
                <li class="nav-item mx-2">
                    <%- include('../partials/loggedOut'); %>
                </li>
            </ul>
            <% } %>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
